@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-transition {
  transition: transform 0.5s ease-out;
}

.swal2-title {
  font-family:'Montserrat', sans-serif;
}

.swal2-html-container {
  display: flex !important;
  flex-direction: column !important; 
  overflow: hidden !important;
  justify-content: center !important;
  align-items: center !important;
}

.swal2-input {
  width: 8rem !important;
}

@media (min-width: 270px) {
  .swal2-input {
    width: 12rem !important;
  }
}

@media (min-width: 340px) { 
  .swal2-input {
    width: auto !important;
  }
}